# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
xcshareddata

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
.externalNativeBuild/
android/gradle
android/gradlew
android/gradlew.bat

# BUCK
buck-out/
\.buckd/
*.keystore

# Rubygem bundles
#
bundles/

# VS Code
.vscode

.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.prettierrc.js
android/.externalNativeBuild/
android/build
babel.config.js
docs/*
example
react-native-cronet-*.tgz
scripts/examples_postinstall.js
tsconfig.json
yarn.lock
CODE_OF_CONDUCT.md
